In [1]:
import pandas as pd

In [2]:
url = "https://www.fci.be/en/statistics/ByYear.aspx?year=2021"
url

'https://www.fci.be/en/statistics/ByYear.aspx?year=2021'

In [6]:
dffcis = pd.read_html(url) 
type(dffcis)

list

In [7]:
len(dffcis)

10

In [18]:
dffcis[7].head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,PUPPIES registered with the studbook and the a...,LITTERS registered with the studbook and the a...,CAC ALL-BREED SHOWS,CACIB ALL-BREED SHOWS,"FCI (breed, group, all-breed) JUDGES",INDIVIDUAL MEMBERS (people),"member (breed, regional, sporting, etc.) CLUBS",PURE-BRED DOGS REGISTERED WITH THE STUDBOOK,TOTAL number of PURE-BRED DOGS REGISTERED WITH...,Approximate TOTAL number of DOGS (PURE-BRED OR...,Approximate TOTAL number of DOG OWNERS (PURE-B...

In [27]:
# Statistics of the FCI members & partners: 2021
dffcis[8].head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,ALBANIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALGERIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARGENTINA,56414.0,12028.0,229.0,3.0,169.0,0.0,63.0,56741.0,1709069.0,NaN,215454.0
3,ARMENIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUSTRALIA,78197.0,15281.0,716.0,1.0,1838.0,30272.0,1069.0,78580.0,NaN,NaN,64405.0

In [30]:
df_dffcis = pd.concat([dffcis[7], dffcis[8]])
df_dffcis

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,PUPPIES registered with the studbook and the a...,LITTERS registered with the studbook and the a...,CAC ALL-BREED SHOWS,CACIB ALL-BREED SHOWS,"FCI (breed, group, all-breed) JUDGES",INDIVIDUAL MEMBERS (people),"member (breed, regional, sporting, etc.) CLUBS",PURE-BRED DOGS REGISTERED WITH THE STUDBOOK,TOTAL number of PURE-BRED DOGS REGISTERED WITH...,Approximate TOTAL number of DOGS (PURE-BRED OR...,Approximate TOTAL number of DOG OWNERS (PURE-B...
0,ALBANIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALGERIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARGENTINA,56414.0,12028.0,229.0,3.0,169.0,0.0,63.0,56741.0,1709069.0,NaN,215454.0
3,ARMENIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,UNITED ARAB EMIRATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,URUGUAY,3302.0,873.0,8.0,2.0,38.0,649.0,5.0,3356.0,112023.0,1700000.0,600000.0
97,UZBEKISTAN,478.0,136.0,3.0,0.0,7.0,1278.0,12.0,688.0,5124.0,NaN,NaN
98,VENEZUELA (BOLIVARIAN REPUBLIC OF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,VIETNAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN